langchain>=0.0.353
openai>=0.27.0
python-dotenv>=1.0.0
dateparser>=1.1.8
pytz>=2023.3 
langchain-openai>=0.0.4 
fastapi>=0.110.2
uvicorn[standard]>=0.27.0 
portalocker>=2.8 
pydantic>=2.7 
requests>=2.0 